// 間距
$interval-xs: 2px;
$interval-s: 4px;
$interval-m: 8px;
$interval-l: 16px;
$interval-xl: 24px;
$interval-xxl: 32px;
$interval-xxxl: 80px;

$interval-x-lg: 0 16px;
$interval-y-lg: 16px 0;
$interval-xy-lg: 10px 20px;