/* 變數 */

/* 前綴詞 */
$navbar-prefix: nav;
$button-prefix: btn;

/* 字級 */

$font-size: ( /* map-get($font-size , s ) */
    xs: 0.8rem,
    s: 1rem,
    m: 1.2rem,
    l: 1.4rem,
    xl: 1.6rem,
    xxl: 1.8rem,
    xxxl: 2rem,
);
// $font-size-xs: 0.8rem;
// $font-size-s: 1rem;
// $font-size-m: 1.2rem;
// $font-size-l: 1.4rem;
// $font-size-xl: 1.6rem;
// $font-size-xxl: 1.8rem;
// $font-size-xxxl: 2rem;

/* 顏色 */
$color-primary: #f00;
$color-secondary: #0f0;
$color-tertiary: #00f;
$color-alpha-b85: rgba(0, 0, 0, 0.85);
$color-alpha-b65: rgba(0, 0, 0, 0.65);
$color-black: #222;
$color-deep: #333;
$color-grey: #777;

/* 間距 */
$interval-xs: 2px;
$interval-s: 4px;
$interval-m: 8px;
$interval-l: 16px;
$interval-xl: 24px;
$interval-xxl: 32px;
$interval-xxxl: 80px;

$interval-x-lg: 0 16px;
$interval-y-lg: 16px 0;
$interval-xy-lg: 10px 20px;

/* 速度 */
$speed-fast: 0.4s;
$speed-slow: 1s;

/* RWD斷點 */
$media-sm: "max-width: 640px";
$media-md: "max-width: 1023px";
$media-lg: "min-width: 1024px";